<input type="file"  name="img" (change)="selectImage($event)">
<input type="text" [(ngModel)]="name">
<button type="submit" mat-raised-button color="primary"   (click)="setImage()" >submit</button>
<button type="submit" mat-raised-button color="primary"   (click)="getImage()" >get</button>
<img [src]="imageToShow"
     alt="Place image title"
     *ngIf="!isImageLoading; else noImageFound">